In [1]:
# import necessary packages 
import pandas as pd 

import matplotlib.pyplot as plt 
import seaborn as sns

In [8]:
df = pd.read_csv('Electric_Production.csv')

print (f"Number of missing values,{df.isna().sum()}\n")
print (f"df shape is, {df.shape} \n")
print (f"columns in df, {df.columns}\n")

df.head(10)

Number of missing values,DATE     0
Value    0
dtype: int64

df shape is, (397, 2)

columns in df, Index(['DATE', 'Value'], dtype='object')

         DATE    Value
0  01-01-1985  72.5052
1  02-01-1985  70.6720
2  03-01-1985  62.4502
3  04-01-1985  57.4714
4  05-01-1985  55.3151
5  06-01-1985  58.0904
6  07-01-1985  62.6202
7  08-01-1985  63.2485
8  09-01-1985  60.5846
9  10-01-1985  56.3154

In [11]:
# set date to index 

df.set_index('DATE', inplace=True)
df.head()

KeyError: "None of ['DATE'] are in the columns"

In [12]:

df.rename (columns={'Value':'Consumption'}, inplace = True)

In [13]:
df.head(1)

            Consumption
DATE
01-01-1985      72.5052

In [15]:
# visualize the time series 

plt.figure(figsize=(8, 6))
plt.plot(df.index, df['Consumption'])
plt.xlabel('Year')
plt.ylabel('Electric Production')
plt.title('Production Over Time')
plt.show()